* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #07071b;
}

#rectangle {
    width: 100%;
    /* height: 630px; */
    height: 100vh;
    background: #f7c046;
}

.rec {
    width: 100%;
    /* height: 630px; */
    height: 100vh;
    background: #f7c046;
}

#div1 {
    position: absolute;
    left: 30%;
    top: 25vh;
    /* width: 580px;
    height: 300px; */
    width: 45vw;
    height: 50vh;
    text-align: right;
}

.number3 {
    position: absolute;
    left: 60%;
    bottom: 9.6vh;
    color: white
}

.number2 {
    position: absolute;
    left: 60%;
    bottom: 33.6vh;
    color: white
}

.number1 {
    position: absolute;
    left: 60%;
    bottom: 57.6vh;
    color: white
}

.link {
    margin-top: 0.5rem;
}

.TopBar {
    display: inline-block;
}

.sm_word {
    /* padding-top: 1 rem; */
    margin-top: 0.5rem;
    margin-left: 0.8rem;
    border: 0.5rem;
    color: white;
    /* width: 10rem; */
    display: inline;
}

.t-jungle {
    text-align: end;
    margin-top: 40vh;
    margin-right: 2rem;
}

.no-line {
    width: 100%;
    height: 4.7vh;
    /* background: black; */
    border-right-color: rgba(255, 255, 255, 0);
    border-width: 2px;
    border-right-style: solid;
}

.solid-line {
    width: 100%;
    height: 10vh;
    /* background: black; */
    border-right-color: rgba(255, 255, 255, 1);
    border-width: 2px;
    border-right-style: solid;
}

.line {
    cursor: pointer;
    width: 100%;
    height: 24vh;
    margin-right: 1 rem;
    /* background: black; */
    border-right-color: rgba(255, 255, 255, 0.4);
    border-width: 2px;
    border-right-style: solid;
}

.ttitle {
    padding: 25.5vh 0 0 1.8rem;
    color: white;
    /* text-align: right; */
}

.ttitle2 {
    padding: 15.5vh 0 0 1.8rem;
    color: white;
}

.day p {
    padding-left: 50px;
    margin-bottom: 0rem;
}


/*
 * Navbar
 */

img {
    width: 100%;
    height: 90%;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    /* nature black */
}

.container {
    width: 70%;
    margin: 0 auto;
    /* horizontal center */
}

.container2 {
    width: 100%;
    margin: 0 auto;
}

.logo {
    width: 3rem;
    /* margin-top: 0.5rem; */
    margin-left: 1vw;
    display: inline;
}

.mid-logo {
    width: 1.7rem;
    margin: 0 0.2rem 0 0;
    /* margin-top: 0.5rem;
    margin-left: 0.8rem; */
    display: inline;
}

.sm-logo {
    width: 0.5rem;
    /* margin-top: 0.5rem;
    margin-left: 0.8rem; */
    display: inline;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* vertical center the elements e.g. logo */
}

.title {
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
}